<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/map.css" />
        <script src="js/login.js"></script>
        <script src="js/map.js" defer></script>
        <script
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMsYGxKk3TS2wzy1b0pClFrHQb9EObTH8&callback=initMap"
        ></script>
    </head>

    <body>
        <h3>COMP4985 Location Tracker</h3>
        <button id="refresh-btn" onclick="refreshMap()">Refresh</button>
        <div id="map" onload="initMap()" on></div>
    </body>
</html>
